# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Recording data
data/recordings/

# Environment files
.env

firmware

# Personal Use Files
technical_debt.md

#tests
tests/test_multichannel_pipeline.py